body {
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

.container{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
}

.input-row {
    display: flex;
}


.list {
    display: flex;
    flex-direction: column;
}

.list div {
    background-color: rgb(235, 235, 235);
    margin: 5px 0;
    overflow-wrap: break-word;
}



.inputTodo, .dateTodo{
    padding: 1rem;
    font-size: 2rem;
    width: 90%
}

.inputTodo:focus, .dateTodo:focus{
    outline: none;
}

.addTodoBtn {
    color: white;
    background-color: #0d8337;
    border: 1px solid rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    width: 10%;
}
